{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block page_title %}Card Game{% endblock %}

{% block content %}
    <h1>Card game</h1>

    <p>Kortspel första utgåva</p>

    <p>{{ num_cards }}</p>
    {% for card in cardDraw %}
        <p>{{ card }}</p>
    {% endfor %}

    

{% endblock %}