<div class="deck-nav">
    <button class="deck-nav-button"><a href="{{ path('deck') }}">Show Deck</a></button>
    <button class="deck-nav-button"><a href="{{ path('deck_shuffle') }}">Shuffle Deck</a></button>
    <button class="deck-nav-button"><a href="{{ path('deck_draw') }}">Draw one card from the deck</a></button>
    <button class="deck-nav-button"><a href="{{ path('deck_draw', {num: 5}) }}">Draw a hand of cards (5)</a></button>
</div>