{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block page_title %}Card Game{% endblock %}

{% block content %}
    <h1>Card game</h1>

    <p>Kortspel första utgåva</p>

    <p>{{ cardGraphic }}</p>
    <p>{{ cardValue }}</p>
    <p>{{ cardSuit }}</p>

    

{% endblock %}