/** varibales */


/** Color */
$light-background-color: lightgrey;
$light-header-color: #333;

/** Text */
$line-height: 1.4;
$h1-font-size: 2.4rem;
$h2-font-size: 2rem;
$h3-font-size: 1.4rem;
$font-size: 1rem;

/** spaces */
$padding: 0.7rem;
$margin-bottom: 1.4rem;
$max-width: 960px;