<nav class="navbar">
    <a href="{{ path('home') }}">Home</a>
    <a href="{{ path('about') }}">About</a>
    <a href="{{ path('report') }}">Reports</a>
    <a href="{{ path('api_quote') }}">API Quote</a>
</nav>
